<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAShapeLayerAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1EFCBDD1F2F1ED7001D3AAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1EFCBF61F2F1ED7001D3AAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1EFCC011F2F1ED7001D3AAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
